.button {
  padding: 12px 50px;
  // background: #d8a94e;
  border-radius: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 172%;
  color: #170826;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  margin-top: 60px;
  transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
  &:hover {
    border: 1px solid #621dab;
    color: #621dab;
  }
  &.active {
    background: #d8a94e;
    color: #fff;
    border: 1px solid transparent;
    &:hover {
      background: #621dab;
    }
  }
  &:not(:first-of-type) {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .button {
    font-size: 14px;
    padding: 12px 24px;
  }
}
@media (max-width: 768px) {
  .button {
    display: block;
    margin-top: 30px;
    &:not(:first-of-type) {
      margin-left: 0;
    }
  }
}
