.food {
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 135%;
    color: #170826;
  }
  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 139%;
    color: #000;
    margin-top: 30px;
  }
  &__class {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    &-wrapper {
      border-radius: 25px;
      background: #f6f6f6;
      padding: 30px;
      flex: 1;
    }
    &-item {
      flex-direction: column;
      align-items: center;
      display: none;
      &.active {
        display: flex;
      }
    }
    &-heading {
      font-weight: 800;
      font-size: 23px;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      text-align: center;
      color: #d8a94e;
      padding-bottom: 15px;
      border-bottom: 1px dashed #a4a4a4;
      width: 100%;
    }
    &-wrap {
      margin-top: 45px;
      display: flex;
      gap: 30px;
      justify-content: center;
      width: 100%;
    }
    &-flex {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;
      max-width: 100%;
      min-width: calc(100% / 3);
      flex: 1;
      padding: 15px;
    }
    &-desc {
      font-weight: 600;
      font-size: 16px;
      line-height: 194%;
      color: #000;
      text-align: center;
    }
  }
}

@media (max-width: 992px) {
  .food{
    &__class{
      flex-direction: column;
      &-wrap{
        flex-direction: column;
      }
      &-flex{
        width: 100%;
      }
      &-heading{
        font-size: 16px;
      }
    }
  }
}
