.router {
  padding-top: 35px;
  font-size: 12px;
  line-height: 167%;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 2; 
  a,
  span {
    font-weight: 600;
    color: #868686;
  }
  p {
    font-weight: 700;
    color: #170826;
    display: inline;
  }
  &.white {
    a,
    span {
      color: rgba(255, 255, 255, 0.6);
    }
    p {
      color: #fff;
    }
  }
}
