.main#vacancy-inner {
  .vacancy {
    position: relative;
    &__heading {
      font-weight: 600;
      font-size: 35px;
      line-height: 137%;
      text-transform: uppercase;
      color: #170826;
    }
    &__desc,
    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #170826;
      margin-top: 30px;
      max-width: 880px;
      width: 100%;
    }
    &__text {
      margin-top: 10px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      gap: 20px;
      margin-top: 60px;
      &-heading {
        font-weight: 600;
        font-size: 18px;
        color: #170826;
        &:not(:first-of-type) {
          margin-top: 35px;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        gap: 15px;
        max-width: max-content;
        width: 100%;
      }
      &-item {
        font-weight: 400;
        font-size: 16px;
        color: #170826;
        padding-left: 20px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #6f2db5;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
        }
      }
      &-btn {
        font-weight: 400;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #6f2db5;
        margin-top: 55px;
        display: block;
        span {
          display: none;
          &.active {
            display: inline;
          }
        }
      }
      &-wrap {
        display: none;
        margin-top: 35px;
        &.active {
          display: block;
        }
      }
      &-right {
        height: auto;
        position: relative;
      }
      &-img {
        border-radius: 25px;
        overflow: hidden;
        height: auto;
        position: sticky;
        top: calc(var(--hh) + 30px);
        width: 500px;
        img {
          width: 100%;
        }
      }
      &-link {
        width: max-content;
        display: block;
        padding: 12px 24px;
        border-radius: 35px;
        font-weight: 400;
        font-size: 18px;
        background: #d8a94e;
        color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        margin-top: 20px;
        transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
        &:hover {
          background: #621dab;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .vacancy {
      &__heading {
        font-size: 24px;
      }
      &__block {
        flex-direction: column-reverse;
        &-img {
          position: static;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
