main#main {
  .plane {
    background: url("../img/cloud-02.png") 0 0 / contain #dcdfe469;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    &__top {
      position: relative;
      height: 75vh;
      display: flex;
      justify-content: center;
      // outline: 1px solid red;
      z-index: 2;
    }
    &__inner {
      margin-top: 80px;
      z-index: 2;
      position: relative;
      background: url("../img/cloud-02.png") 0 0 / 100% auto #dcdfe469;
      padding-bottom: calc(5 * 20px);
      overflow: hidden;
      padding-left: calc((100% - 1420px) / 2);
      padding-right: calc((100% - 1420px) / 2);
      &-cloud {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
    &__sticky {
      position: sticky;
      top: 50%;
      transform: translate(0, -50%);
      height: fit-content;
      pointer-events: none;
      width: 100%;
      z-index: 3;
      display: flex;
      justify-content: center;
    }
    &__img {
      scale: 0;
      opacity: 0;
      visibility: hidden;
      padding: 0 30px;
      max-width: 67%;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 50px;
      color: #2b0d47;
      text-align: center;
      position: relative;
      z-index: 3;
    }
    &__card {
      margin-top: 65px;
      display: flex;
      gap: 30px;
      position: relative;
      z-index: 3;
      &-item {
        width: 100%;
        padding: 35px 35px 45px;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          .plane__card {
            &-icon::before {
              transform: translate(-50%, -50%) scale(15);
            }
            &-heading,
            &-text,
            &-info {
              color: #fff;
            }
            &-point {
              background: #fff;
            }
          }
        }
        & * {
          position: relative;
          transition: 0.5s ease;
        }
      }
      &-icon {
        width: 66px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #6f2db5;
        border-radius: 50%;
        position: relative;
        img {
          position: relative;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1);
          background: #6f2db5;
          width: 100%;
          height: 100%;
          transform-origin: center;
          border-radius: 50%;
          transition: 0.5s ease;
        }
      }
      &-heading {
        font-weight: 800;
        font-size: 20px;
        color: #2b0d47;
        margin-top: 30px;
      }
      &-desc {
        font-weight: 800;
        font-size: 16px;
        line-height: 150%;
        color: #d8a94e;
        margin-top: 25px;
      }
      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        color: #2b0d47;
      }
      &-info {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #2b0d47;
        margin-top: 15px;
      }
      &-lists {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
      }
      &-list {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #2b0d47;
      }
    }
    &__cloud {
      background: url("../img/cloud-02.png") 0 5vw / contain;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100vh;
      width: 100%;
    }
  }
  @media (max-width: 1480px) {
    .plane {
      &__inner {
        padding: 0 30px;
      }
    }
  }
  @media (max-width: 768px) {
    .plane {
      &__top {
        display: none;
      }
      &__card {
        flex-direction: column;
        padding: 0 30px;
      }
    }
  }
}
