.main#about {
  .flot {
    &__block {
      background: #6f2db5;
      padding: 85px;
      border-radius: 20px;
    }
    &__heading {
      font-weight: 700;
      font-size: 35px;
      line-height: 135%;
      color: #fff;
    }
    &__text {
      font-weight: 600;
      font-size: 18px;
      line-height: 139%;
      color: #fff;
      margin-top: 30px;
    }
    &__card {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      &-item {
        padding: 25px;
        border-radius: 25px;
        background: #f6f6f6;
        cursor: pointer;
        border: 1px solid transparent;
        &,
        & * {
          transition: 0.3s ease;
        }
        &:last-child {
          width: 210px;
          .flot__card-link {
            height: 100%;
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
        &:hover {
          background: #6f2db5;
          border: 1px solid #fff;
          .flot__card-name {
            color: #fff;
          }
          svg path {
            fill: #fff;
          }
        }
      }
      &-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        img {
          width: 245px;
        }
      }
      &-name {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #170826;
      }
    }
  }
  @media (max-width: 1366px) {
    .flot {
      &__card {
        flex-wrap: wrap;
        a {
          // width: max-content;
          &:last-of-type {
            width: 100%;
            flex-direction: row-reverse;
            // width: max-content;
            // flex-shrink: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1180px) {
    .flot {
      &__card {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 768px) {
    .flot {
      &__block {
        padding: 30px;
      }
      &__card {
        &-item {
          display: block;
          width: 100%;
          // flex: 1;
        }
        &-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
