.main#about {
  .map {
    &__inner {
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }
    &__heading {
      font-weight: 700;
      font-size: 35px;
      line-height: 137%;
      text-transform: uppercase;
      color: #170826;
    }
    &__text {
      font-weight: 600;
      font-size: 18px;
      color: #170826;
      margin-top: 15px;
      &:first-of-type {
        margin-top: 25px;
      }
    }
    &__right {
      width: 730px;
      flex-shrink: 0;
      img {
        width: 100%;
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__link {
      display: block;
      margin-top: 25px;
      font-weight: 700;
      font-size: 20px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #d8a94e;
    }
  }
  @media (max-width: 1366px) {
    .map {
      &__inner {
        align-items: center;
      }
      &__right {
        width: 40%;
      }
    }
  }
  @media (max-width: 992px) {
    .map {
      &__inner {
        flex-direction: column-reverse;
      }
    }
  }
  @media (max-width: 768px) {
    .map {
      &__inner {
        flex-direction: column-reverse;
      }
      &__right {
        width: 100%;
      }
    }
  }
}
