body {
  overflow: hidden visible;
  height: auto;
  &.no-scroll {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  display: none;
}

.container {
  // max-width: 100%;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  // padding: 0 calc((100% - 1420px) / 2);
  padding: 0 30px;
}

section {
  padding-top: 150px;
}
.main#main {
  section {
    padding-top: 0;
  }
}
main:not(#main) {
  padding-top: var(--hh);
}
