body {
  overflow: hidden visible;
  &.no-scroll {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  display: none;
}

.container {
  // max-width: 100%;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  // padding: 0 calc((100% - 1420px) / 2);
  padding: 0 30px;
}

main:not(#main) {
  padding-top: 100px;
}
