<section class="food">
  <div class="food__inner container">
    <h3 class="food__title">Питание на борту</h3>
    <p class="food__text">
      Выберите одно из трех бесплатных блюд на каждом рейсе. На всех рейсах есть вегетарианский вариант. Все блюда
      готовятся в соответствии с правилами халяль. Если у вас есть какие-либо особые предпочтения, вы можете запросить
      специальное питание во время брони билета.
    </p>
    @@include('./button.html',{'text':'Ближнемагистральные рельсы','class':'active'})
    @@include('./button.html',{'text':'Средне - и дальнемагистральные рейсы','class':''})
    <div class="food__class">
      <div class="food__class-wrapper">
        <div class="food__class-item active" data-tab-content="short">
          <p class="food__class-heading">Экономический класс</p>
          <div class="food__class-wrap">
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Прохладителые напитки</p>
            </div>
          </div>
        </div>
        <div class="food__class-item" data-tab-content="long">
          <p class="food__class-heading">Экономический класс</p>
          <div class="food__class-wrap">
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Прохладителые напитки</p>
            </div>
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Горячее питание</p>
            </div>
          </div>
        </div>
      </div>
      <div class="food__class-wrapper">
        <div class="food__class-item active" data-tab-content="short">
          <p class="food__class-heading">бизнес класс</p>
          <div class="food__class-wrap">
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Прохладителые напитки</p>
            </div>
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Горячее питание</p>
            </div>
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Чай,кофе</p>
            </div>
          </div>
        </div>
        <div class="food__class-item" data-tab-content="long">
          <p class="food__class-heading">бизнес класс</p>
          <div class="food__class-wrap">
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Горячее питание</p>
            </div>
            <div class="food__class-flex">
              <img src="./img/food/water.svg" alt="" />
              <p class="food__class-desc">Чай,кофе</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
