<header class="header @@color">
  <div class="header__inner">
    <div class="header__inner-bg"></div>
    <div class="header__inner-overlay"></div>
    <div class="header__block">
      <a href="./" class="header__logo">@@include('../shared/logo.html')</a>
      <div class="header__right">
        <div class="dropdown-bg"></div>
        <div class="header__right-inner">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item dropdowns">
                <div class="header__nav-item-main">
                  <p>О компании</p>
                  @@include('../shared/arrow.html')
                </div>
              </li>
              <li class="header__nav-item dropdowns">
                <div class="header__nav-item-main">
                  <p>Услуги</p>
                  @@include('../shared/arrow.html')
                </div>
              </li>
              <li class="header__nav-item"><a href="./news.html">Новости</a></li>
              <li class="header__nav-item"><a href="./vacancy.html">Вакансии</a></li>
              <li class="header__nav-item"><a href="./contacts.html">Контакты</a></li>
            </ul>
            <div class="dropdown">
              <a href="./about.html">Информация о компании</a>
              <a href="./fleet.html">Наш флот</a>
              <a href="./food.html">Питание на борту</a>
              <a href="#">Карта полетов</a>
            </div>
            <div class="dropdown">
              <a href="./service.html">Услуги кооторые предоставляет Asia Union Airlines</a>
              <a href="./tarif-inner.html">Тарифы</a>
              <a href="./bagagge-inner.html">Багаж</a>
              <a href="./animal.html">Перевозка животных</a>
            </div>
          </nav>
          <a class="header__phone" href="tel:998555069999">
            <span class="header__search-svg">@@include('../shared/phone.html')</span>
            <span class="header__phone-num">+99855 506 99 99</span>
          </a>
          <div class="header__search">
            <div class="header__search-svg">@@include('../shared/search.html')</div>
          </div>
          <div class="header__lang">
            <span class="header__lang-selected">РУ</span>
            <div class="header__lang-dropdown">
              <div class="header__lang-dropdown-items">
                <div class="header__lang-dropdown-svg">@@include('../shared/triangle.html')</div>
                <span class="header__lang-dropdown-item">РУ</span>
                <span class="header__lang-dropdown-item">UZ</span>
                <span class="header__lang-dropdown-item">EN</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__search-input">
      <span>@@include('../shared/search.html')</span>
      <input type="text" placeholder="Найти..." />
    </div>
  </div>
</header>
