<header class="header @@color">
  <div class="header__inner">
    <div class="header__inner-bg"></div>
    <div class="header__inner-overlay"></div>
    <div class="header__block">
      <a href="./" class="header__logo">@@include('../shared/logo.html')</a>
      <div class="header__right">
        <div class="dropdown-bg"></div>
        <div class="header__right-inner">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item dropdowns">
                <div class="header__nav-item-main">
                  <p>О компании</p>
                  @@include('../shared/arrow.html')
                </div>
              </li>
              <li class="header__nav-item dropdowns">
                <div class="header__nav-item-main">
                  <p>Услуги</p>
                  @@include('../shared/arrow.html')
                </div>
              </li>
              <li class="header__nav-item"><a href="./news.html">Новости</a></li>
              <li class="header__nav-item"><a href="./vacancy.html">Вакансии</a></li>
              <li class="header__nav-item"><a href="./contacts.html">Контакты</a></li>
            </ul>
            <ul class="dropdown">
              <li><a href="./about.html">Информация о компании</a></li>
              <li><a href="./fleet.html">Наш флот</a></li>
              <li><a href="./food.html">Питание на борту</a></li>
              <li><a href="#">Карта полетов</a></li>
            </ul>
            <ul class="dropdown">
              <li><a href="./service.html">Услуги кооторые предоставляет Asia Union Airlines</a></li>
              <li><a href="./tarif-inner.html">Тарифы</a></li>
              <li><a href="./bagagge-inner.html">Багаж</a></li>
              <li><a href="./animal.html">Перевозка животных</a></li>
            </ul>
          </nav>
          <a class="header__phone" href="tel:998555069999">
            <span class="header__phone-svg">@@include('../shared/phone.html')</span>
            <span class="header__phone-num">+99855 506 99 99</span>
          </a>
          <button class="header__search">@@include('../shared/search.html')</button>
          <div class="header__lang">
            <span class="header__lang-selected">РУ</span>
            <div class="header__lang-dropdown">
              <ul class="header__lang-dropdown-items">
                <li class="header__lang-dropdown-item"><a href="#">РУ</a></li>
                <li class="header__lang-dropdown-item"><a href="#">UZ</a></li>
                <li class="header__lang-dropdown-item"><a href="#">EN</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <div class="header__menu-item-main">
            <p>О компании</p>
            @@include('../shared/arrow.html')
          </div>
          <ul class="header__menu-item-list">
            <li><a href="./about.html">Информация о компании</a></li>
            <li><a href="./fleet.html">Наш флот</a></li>
            <li><a href="./food.html">Питание на борту</a></li>
            <li><a href="#">Карта полетов</a></li>
          </ul>
        </li>
        <li class="header__menu-item">
          <div class="header__menu-item-main">
            <p>Услуги</p>
            @@include('../shared/arrow.html')
          </div>
          <ul class="header__menu-item-list">
            <li><a href="./service.html">Услуги кооторые предоставляет Asia Union Airlines</a></li>
            <li><a href="./tarif-inner.html">Тарифы</a></li>
            <li><a href="./bagagge-inner.html">Багаж</a></li>
            <li><a href="./animal.html">Перевозка животных</a></li>
          </ul>
        </li>
        <li class="header__menu-item"><a href="./news.html">Новости</a></li>
        <li class="header__menu-item"><a href="./vacancy.html">Вакансии</a></li>
        <li class="header__menu-item"><a href="./contacts.html">Контакты</a></li>
      </ul>
    </div>
    <form class="header__search-input">
      <button>@@include('../shared/search.html')</button>
      <input type="text" placeholder="Найти..." />
    </form>
  </div>
</header>
