<section class="mainFlot">
  <div class="mainFlot__inner container">
    <div class="mainFlot__heading">НАШ ФЛОТ</div>
    <div class="mainFlot__flex">
      <a href="./fleet-inner.html" class="mainFlot__item">
        <p class="mainFlot__name">A330</p>
        <div class="mainFlot__img">
          <img src="./img/mainflot/a330.png" alt="" />
        </div>
      </a>
      <a href="./fleet-inner.html" class="mainFlot__item">
        <p class="mainFlot__name">Falcon 7x</p>
        <div class="mainFlot__img">
          <img src="./img/mainflot/a330.png" alt="" />
        </div>
      </a>
      <a href="./fleet-inner.html" class="mainFlot__item">
        <p class="mainFlot__name">Falcon 7x</p>
        <div class="mainFlot__img">
          <img src="./img/mainflot/a330.png" alt="" />
        </div>
      </a>
      <a href="./fleet-inner.html" class="mainFlot__item">
        <p class="mainFlot__name">Falcon 7x</p>
        <div class="mainFlot__img">
          <img src="./img/mainflot/a330.png" alt="" />
        </div>
      </a>
    </div>
  </div>
</section>
