<section class="mainFlot">
  <div class="mainFlot__inner container">
    <h1 class="mainFlot__heading">НАШ ФЛОТ</h1>
    <ul class="mainFlot__flex">
      <li class="mainFlot__item">
        <a href="./fleet-inner.html" class="mainFlot__link">
          <span class="mainFlot__name">A330</span>
          <img src="./img/mainflot/a330.png" alt="" />
        </a>
      </li>
      <li class="mainFlot__item">
        <a href="./fleet-inner.html" class="mainFlot__link">
          <span class="mainFlot__name">Falcon 7x</span>
          <img src="./img/mainflot/a330.png" alt="" />
        </a>
      </li>
      <li class="mainFlot__item">
        <a href="./fleet-inner.html" class="mainFlot__link">
          <span class="mainFlot__name">Falcon 7x</span>
          <img src="./img/mainflot/a330.png" alt="" />
        </a>
      </li>
      <li class="mainFlot__item">
        <a href="./fleet-inner.html" class="mainFlot__link">
          <span class="mainFlot__name">Falcon 7x</span>
          <img src="./img/mainflot/a330.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</section>
