.main#food {
  .special {
    &__heading {
      font-weight: 700;
      font-size: 35px;
      line-height: 137%;
      text-transform: uppercase;
      color: #170826;
    }
    &__text {
      font-weight: 600;
      font-size: 18px;
      line-height: 139%;
      color: #000;
      margin-top: 30px;
    }
    &__card {
      margin-top: 60px;
      display: flex;
      gap: 30px;
      &-item {
        background: #6f2db5;
        border-radius: 25px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        max-width: calc((100% - 60px) / 3);
        width: 100%;
      }
      &-desc {
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
      }
      &-info {
        font-weight: 600;
        font-size: 18px;
        line-height: 139%;
        color: #fff;
        margin-top: 15px;
      }
    }
  }
}
