.main#fleet-inner {
  .info {
    &__text {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 139%;
      color: #170826;
      max-width: 90%;
      width: 100%;
      &:last-of-type {
        margin-top: 10px;
      }
    }
    &__tab {
      position: relative;
    }
    &__wrapper {
      // display: flex;
      display: none;
      flex-direction: column;
      gap: 20px;
      margin-top: 45px;
      position: relative;
      &.active {
        display: flex;
      }
      &[data-tab-content="inside"] {
        height: 875px;
        background: #f6f6f6;
        &.active ~ .info__ghost {
          opacity: 1;
          visibility: visible;
        }
      }
      &-img {
        transform: translate(-100%, 0);
      }
      &-svg {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 103px;
      }
    }
    &__ghost {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        padding-bottom: 30px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease;
        &.active {
          opacity: 1;
          visibility: visible;
        }
        &__wrap {
          overflow: hidden;
          padding-bottom: 30px;
          width: 160px;
          height: auto;
          background: #fff;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          svg {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
        &__img {
          img {
            display: none;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
            &.active {
              display: block;
            }
          }
        }
        &__text {
          font-size: 16px;
          font-weight: 500;
          color: #170826;
          margin-top: 20px;
          text-align: center;
        }
        &__num {
          font-size: 24px;
          font-weight: 700;
          color: #170826;
          margin-top: 10px;
          text-align: center;
          span {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }
    &__flex {
      display: flex;
      gap: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed rgba(164, 164, 164, 0.6);
      &-item {
        font-weight: 600;
        font-size: 18px;
        line-height: 139%;
        color: #170826;
        &:first-of-type {
          max-width: 55%;
          width: 100%;
          color: #707070;
        }
      }
    }
  }
}
