main#fleet-inner {
  .plane {
    position: relative;
    width: 100%;
    height: 100vh;
    &__heading {
      font-weight: 700;
      font-size: 45px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #fff;
      margin-top: 75px;
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      img {
        height: 100%;
      }
    }
    &__cloud {
      position: absolute;
      bottom: -140px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
        height: 100%;
      }
    }
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
