.main#bagagge-inner {
  .bagagge-type {
    &__heading {
      font-weight: 700;
      font-size: 35px;
      line-height: 154%;
      color: #170826;
    }
    &__card {
      margin-top: 45px;
      display: flex;
      gap: 30px;
      &-item {
        background: #6f2db5;
        border-radius: 25px;
        padding: 35px 60px 35px 35px;
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      &-desc {
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #fff;
      }
      &-info {
        font-weight: 400;
        font-size: 18px;
        line-height: 139%;
        color: #fff;
        margin-top: 15px;
      }
    }
  }
  @media (max-width: 900px) {
    .bagagge-type {
      &__card {
        flex-direction: column;
      }
      &__heading {
        font-size: 24px;
      }
    }
  }
}
